header{
  padding: 4px;
  text-align: center;
  background: #9e195e;
  color: white;
  font-size: 30px;
}
body {
  background-color: rgb(158, 25, 98);
}
h1{
  color: white
}
h2{
  color:white
}
p{
  color:white
}
label{
  color:white
}

    @media (max-width: 999px) {
        .main-nav {
          display: none;
        }
      }
      
      .mobile-main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #d5ffb1;
        position: absolute;
        top: 132px;
        left: 0;
        right: 0;
      }
      
      .mobile-main-nav a {
        padding: 8px;
      }
      
      @media (min-width: 1000px) {
        .mobile-nav-wrapper {
          display: none;
        }
      }

a:link, a:visited { 
    text-align: center; 
    color: #ffa5d4;   
}

a:hover {
  color: #8bb468;
}

a:active {
  color: #fd3da0;
}

h2 {
  font-size: 30px;
}
/* you want to place your form in between Zim and the left side of the screen */
.Zim {
    align-items: center;
}

.logo {
    max-width: 180px;
} 

#label-name{
     padding-right: 2px;
}

#label-email{
  padding-right: 2px; 
}

#label-age{
  padding-right: 2px; 
}

#email {
  padding-right: 2px; 
}

#psw{
  padding-right: 2px; 
}

#label-role{
  padding-right: 2px; 
}

h1{
  margin: 20px; 
}


div{
  text-align: center;
  padding-top: 7px;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 5px;
}

button, input, optgroup, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.15;
  margin: 3px;
  justify-content: space-around;

}

.label {
  text-align: center;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  body {
    margin: 0;
    padding: 0;
}


.hero-image{
    background: url(https://wallpapercave.com/wp/an25G7P.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text{
  padding: 40px;
  text-align: center;
  background: #9e195e;
  color: white;
  font-size: 30px;
}

.hero {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative; 
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

.hero-button {
  background-color: #ae2d59;
  color: white;
  border: 1px solid #cb376a;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-family: "Arial", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #cb376a;
  border: 1px solid #db7598;
}
  
.earth-form-control {
  flex-direction: column;
}
  
  
  