header{
  padding: 60px;
  text-align: center;
  background: #9e195e;
  color: white;
  font-size: 30px;
}

    @media (max-width: 999px) {
        .main-nav {
          display: none;
        }
      }
      
      .mobile-main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: yellow;
        position: absolute;
        top: 132px;
        left: 0;
        right: 0;
      }
      
      .mobile-main-nav a {
        padding: 8px;
      }
      
      @media (min-width: 1000px) {
        .mobile-nav-wrapper {
          display: none;
        }
      }

a:link, a:visited { 
    text-align: center; 
    color: #ffa5d4;   
}

a:hover {
  color: #8bb468;
}

a:active {
  color: #fd3da0;
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
}
/* you want to place your form in between Zim and the left side of the screen */
.Zim {
    align-items: center;
}

.logo {
    max-width: 120px;
}

