header{
  padding: 40px;
  text-align: center;
  background: #9e195e;
  color: white;
  font-size: 30px;
}

    @media (max-width: 999px) {
        .main-nav {
          display: none;
        }
      }
      
      .mobile-main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: yellow;
        position: absolute;
        top: 132px;
        left: 0;
        right: 0;
      }
      
      .mobile-main-nav a {
        padding: 8px;
      }
      
      @media (min-width: 1000px) {
        .mobile-nav-wrapper {
          display: none;
        }
      }

a:link, a:visited { 
    text-align: center; 
    color: #ffa5d4;   
}

a:hover {
  color: #8bb468;
}

a:active {
  color: #fd3da0;
}

.hero-image{

}
/* you want to place your form in between Zim and the left side of the screen */
.Zim {
    align-items: flex-end;
}

.logo {
    max-width: 180px;
} 

#label-name{
     padding-right: 2px;
}

#label-email{
  padding-right: 2px; 
}

#label-age{
  padding-right: 2px; 
}

#email {
  padding-right: 2px; 
}

#psw{
  padding-right: 2px; 
}

#label-role{
  padding-right: 2px; 
}

h1{
  margin: 20px; 
}


div{
  text-align: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 5px;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

}
