.Zim-forms-for-world-domination{
    flex-direction: row;
    gap: 10px; 
}

h2{

}

a { 
    justify-content: flex-start;

}
/* you want to place your form in between Zim and the left side of the screen */
.Zim {
    align-items: flex-end

}
